.posstatice {
    position:static;
    border: 3px solid coral;

}

.posrelative{
    position: relative;
    border: 3px solid blueviolet;
   
    width: 200px;
    

    
}

.posrelative h2{
    position: relative;
    text-align: center;
}

.fixed{
    position: fixed;

    bottom: 20px;
    right: 0px;
    border:3px solid chartreuse
}


@media screen and (max-width:768px) {
    .fixed{
        display: none;
       
    }
    
}

