<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>This is chlorine_first_website</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
  </head>
  <body>
    <h1 align=center>hello this is usman first WEBsite </h1>
    <ul>
      <li>URL call view </li>
      <li>view call template which is index</li>
      <li>template have files such as index.html </li>
    </ul>
    <div class="container">
      <h1>Callback Function</h1>
      <p>there is call back funcation in their</p>
      

    </div>
  </body>
</html>
