body{
    margin: 0;
    padding: 0;

}


.container{
    width: 500px;
    height: 800px;
    background-color: rgb(9, 220, 248);
    display: flex;
    flex-direction: column ;
    justify-content: space-around;
    align-items: center;

}


.Progress_bar_frame{
    width: 450px ;
    height: max-content;
    background-color: rgb(10, 10, 10);
    text-align: center;

}


.Progress_bar_frame p{
   color:rgb(251, 251, 251);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}




#pbar{
    width:200px;
    height: 4px;
    border-radius: 3px ;
    border:1px solid rgb(251, 0, 239);
    
    background-color: rgb(255, 6, 180);
    transition: 0.5s ease;
}

.Progress_bar_frame:hover #pbar{
    width:400px;
    height: 4px;
    border-radius: 3px ;
    border:1px solid rgb(0, 251, 0);
    
    background-color: rgb(14, 255, 6);

}
